nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;
	background-color: rgb(18, 18, 30);
	height: 15vh;
}

.link {
	font-size: 1.5rem;
	color: rgb(200, 200, 200);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25%;
}

.link:hover {
	text-decoration: none;
	color: rgb(51, 161, 254);
	background-color: rgba(51, 161, 254, 0.1);
}

.active {
	color: rgb(51, 161, 254);
	background-color: rgba(51, 161, 254, 0.2);
}
